@import "variable.scss";
@import "function.scss";

* {
  box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

input {
  outline: none;
  padding: 0 5px;
  border: none;
  background: none;
}

textarea {
  resize: none;
  padding: 5px;
  outline: none;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
// number类型的input不显示三角形
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
// 浮动
.fl {
  float: left;
}

.fr {
  float: right;
}
.clearfix {
  zoom: 1;
  > * {
    float: left;
  }
}
.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

// 超出隐藏
.overfont {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 文字颜色
.c-red {
  color: $color-red;
}
//复写element
.el-form-item {
  margin-top: 15px;
}
